@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?2wyxej");
  src: url("../fonts/icomoon/icomoon.eot?2wyxej#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?2wyxej") format("truetype"), url("../fonts/icomoon/icomoon.woff?2wyxej") format("woff"), url("../fonts/icomoon/icomoon.svg?2wyxej#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-balance:before {
  content: "\e900";
  color: #c92123;
}

.icon-burger:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e902";
}

.icon-check2:before {
  content: "\e903";
  color: #c92123;
}

.icon-closed:before {
  content: "\e904";
}

.icon-cross:before {
  content: "\e905";
}

.icon-down:before {
  content: "\e906";
}

.icon-download:before {
  content: "\e907";
}

.icon-folder:before {
  content: "\e908";
  color: #c92123;
}

.icon-left:before {
  content: "\e909";
}

.icon-list:before {
  content: "\e90a";
  color: #c92123;
}

.icon-paperclip:before {
  content: "\e90b";
}

.icon-right:before {
  content: "\e90c";
}

.icon-search:before {
  content: "\e90d";
}

.icon-strategy:before {
  content: "\e90e";
  color: #c92123;
}

.icon-up:before {
  content: "\e90f";
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

h1, .h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

h2, .h2 {
  font-size: 34px;
  line-height: 40px;
}

h2-border, .h2-border {
  position: relative;
  padding-bottom: 10px;
}

h2-border:before, .h2-border:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 3px;
  background: #01539B;
}

h2-border:after, .h2-border:after {
  content: '';
  position: absolute;
  left: 73px;
  bottom: 0;
  width: 180px;
  height: 3px;
  background: #C92123;
}

h2-big, .h2-big {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 28px;
}

h4, .h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 14px;
  line-height: 20px;
}

p {
  font-size: 18px;
  line-height: 32px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active {
  opacity: 0.6;
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.right-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

*::-webkit-input-placeholder {
  color: #999999;
  font-size: 18px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-moz-placeholder {
  color: #999999;
  font-size: 18px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*::-moz-placeholder {
  color: #999999;
  font-size: 18px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-ms-input-placeholder {
  color: #999999;
  font-size: 18px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

input:focus::-webkit-input-placeholder {
  text-indent: 2999px;
}

input:focus:-moz-placeholder {
  text-indent: 2999px;
}

input:focus::-moz-placeholder {
  text-indent: 2999px;
}

input:focus:-ms-input-placeholder {
  text-indent: 2999px;
}

.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background-color: #E6E6E6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background: #01539B;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.container {
  width: auto;
  max-width: 1920px;
  padding-left: 60px;
  padding-right: 60px;
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 80px;
}

.header.banner .header-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.header-btn {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  z-index: 10;
}

.header-btn__menu {
  display: block;
  width: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-btn > a:hover, .header-btn > a:focus {
  opacity: 1;
}

.header-btn__item {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-btn__nav {
  background: #01539B;
}

.header-btn__nav .icon {
  font-size: 24px;
  color: #fff;
}

.header-btn__search {
  background: #F5F5F5;
}

.header-tel {
  text-align: right;
}

.header-tel__number {
  display: block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

.header-tel__link {
  color: #01539B;
  border-bottom: 1px solid;
}

.banner {
  position: relative;
}

.banner-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  bottom: 0;
  padding: 90px 60px 0;
  text-align: center;
}

.banner > img {
  display: block;
  margin: 0 auto;
}

.banner .h1 {
  margin-bottom: 50px;
}

.banner-project {
  margin-bottom: 100px;
}

.banner-project__nav {
  position: fixed;
  left: 80px;
  top: 270px;
  padding: 30px 20px;
  list-style: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.5)), color-stop(99.99%, rgba(245, 247, 250, 0.5)), to(rgba(235, 242, 245, 0.5)));
  background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0.5) 0%, rgba(245, 247, 250, 0.5) 99.99%, rgba(235, 242, 245, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(250, 250, 250, 0.5) 0%, rgba(245, 247, 250, 0.5) 99.99%, rgba(235, 242, 245, 0.5) 100%);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.5) 0%, rgba(245, 247, 250, 0.5) 99.99%, rgba(235, 242, 245, 0.5) 100%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.banner-project__nav li {
  margin-bottom: 30px;
  text-align: left;
}

.banner-project__nav li:last-child {
  margin-bottom: 0;
}

.banner-project__nav li a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-menu > li {
  display: inline-block;
  margin-right: 24px;
}

.main-menu > li:last-child {
  margin-right: 0;
}

.main-menu > li > a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px solid;
  color: #333;
}

.main-menu > li > a:hover, .main-menu > li > a.active {
  color: #01539B;
  opacity: 1;
}

.switch-btn {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  width: 38px;
  height: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #01539B;
  cursor: pointer;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}

.switch-btn::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #01539B;
  top: 2px;
  left: 3px;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
  z-index: 1;
}

.switch-btn.switch-on::after {
  left: 19px;
}

.language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.language > span {
  color: #01539B;
}

.language > span.active {
  color: #C92123;
}

.mm-spn--open > div {
  margin: 20px 15px 20px;
  padding-left: 25px;
}

.mm-spn--open > div > a, .mm-spn--open > div span {
  padding: 0;
}

.slick-slide {
  outline: none;
}

.content {
  min-height: -webkit-calc(100vh - 434px);
  min-height: calc(100vh - 434px);
}

.btn {
  display: inline-block;
  padding: 22px 72px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background: #01539B;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: none;
  text-align: center;
}

.btn:hover, .btn:focus {
  opacity: 1;
  color: #fff;
  background: #0E71CC;
}

.btn:active {
  background: #0E71CC;
}

.btn-transparent {
  padding: 20px 72px;
  background-color: transparent;
  border: 2px solid #01539B;
  color: #01539B;
}

.btn-small {
  font-size: 14px;
  line-height: 16px;
}

.section {
  padding: 150px 0 0;
}

.section .h2 {
  margin-bottom: 28px;
}

.section p {
  margin-bottom: 20px;
}

.section .h3 {
  font-family: Montserrat;
  font-weight: 600;
}

.about-step {
  position: relative;
  top: -40px;
}

.about-step .h3 {
  margin-bottom: 60px;
}

.about-step__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-step__item {
  width: 48%;
  margin-bottom: 60px;
}

.about-step__item--number {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F5F5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #01539B;
}

.about-step__item--text {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.questions {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: #F5F5F5;
}

.questions::before, .questions::after {
  content: '';
  position: absolute;
  top: -15px;
  width: 181px;
  height: 386px;
}

.questions::before {
  left: 0;
  background: url(../img/questions-blue-bg.png) no-repeat;
}

.questions::after {
  right: 0;
  background: url(../img/questions-red-bg.png) no-repeat;
}

.questions-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px;
}

.questions-text .btn {
  margin-top: 32px;
}

.news {
  max-width: 1920px;
  margin: 0 auto;
}

.news-wrap {
  max-width: 1460px;
}

.news-wrap .news-item {
  margin-bottom: 40px;
}

.news-wrap .pagination {
  margin-top: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news .h2 {
  margin-bottom: 0;
}

.news-slider {
  margin-left: 60px;
}

.news-slider__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.news-slider__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-slider__nav .all-link {
  margin-right: 20px;
}

.news-slider__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news-slider__btn button {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #F5F5F5;
  border: 0;
  outline: none;
}

.news-slider__btn button .icon {
  font-size: 12px;
  color: #000;
}

.news-slider__btn button:hover {
  background: #01539B;
}

.news-slider__btn button:hover .icon {
  color: #fff;
}

.news-slider__next {
  margin-left: 10px;
}

.news-slider .news-item {
  margin-right: 40px;
}

.news-item {
  position: relative;
  display: inline-block;
}

.news-item img {
  display: block;
}

.news-item__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-item__tag {
  padding: 20px;
  list-style: none;
}

.news-item__tag li {
  display: inline-block;
  margin-right: 12px;
}

.news-item__tag li a {
  display: block;
  padding: 6px 12px;
  background: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #01539B;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.news-item__tag li a:hover, .news-item__tag li a.active {
  background: #01539B;
  color: #fff;
  opacity: 1;
}

.news-item__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.news-item__text {
  width: -webkit-calc(100% - 180px);
  width: calc(100% - 180px);
  padding: 30px 30px 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.news-item__text .h3 {
  margin-bottom: 20px;
  font-family: OpenSans;
}

.news-item__text p {
  font-size: 14px;
  line-height: 22px;
}

.news-item__date {
  width: 180px;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #C92123;
}

.news-item__site {
  display: inline-block;
  margin-bottom: 10px;
  color: #01539B;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.all-link {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  border-bottom: 2px solid #01539B;
}

.partners-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners-block {
  width: 46%;
}

.partners-block__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.partners-block .h2 {
  margin: 0;
}

.partners-block__wrap.row {
  margin-left: -10px;
  margin-right: -10px;
}

.partners-block__wrap.row [class^="col"] {
  padding-left: 10px;
  padding-right: 10px;
}

.partners-block__wrap a {
  display: block;
}

.partners-block__wrap img {
  display: block;
  margin-bottom: 20px;
}

.deliveries .h2 {
  margin-bottom: 70px;
}

.deliveries-map {
  height: 550px;
}

#googleMap {
  width: 100%;
  height: 100%;
}

.footer {
  padding-top: 166px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.3))), url(../img/footer-bg.png);
  background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 100%), url(../img/footer-bg.png);
  background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 100%), url(../img/footer-bg.png);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 100%), url(../img/footer-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 33px;
}

.footer-wrap > div, .footer-wrap li {
  margin-right: 120px;
}

.footer-dev span {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
  color: #999;
}

.footer-copy {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.footer-links li {
  display: inline-block;
}

.footer-links li a {
  color: #1162DC;
  font-size: 14px;
  line-height: 14px;
  border-bottom: 1px solid;
}

.check-item {
  list-style: none;
}

.check-item a {
  color: #999;
}

.check-item input[type="checkbox"] {
  display: none;
}

.check-item input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding: 0 0 0 28px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #999;
}

.check-item input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #01539B;
  font-family: icomoon;
}

.check-item input[type="checkbox"]:checked + label::before {
  content: '\e902';
  font-size: 12px;
  color: #01539B;
}

.burger-menu {
  display: none;
  background: transparent;
  width: 30px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.burger-menu:focus {
  outline: none;
}

.burger-menu span {
  position: relative;
  width: 100%;
  display: block;
  height: 2px;
  margin-bottom: 6px;
  background: #000;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.burger-menu > span:last-child {
  margin-bottom: 0;
}

.burger-menu.active span:nth-of-type(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu.active span:nth-of-type(2) {
  background-color: transparent;
}

.burger-menu.active span:nth-of-type(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

select {
  display: none;
}

.jq-selectbox {
  position: relative;
  width: 100%;
}

.jq-selectbox .jq-selectbox__select-text {
  position: relative;
  padding: 14px 30px 14px 14px;
  width: 100%;
  border: 1px solid #ECECEC;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 16px;
  color: #999;
}

.jq-selectbox .jq-selectbox__select-text::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 45%;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #808080;
  border-left: 2px solid #808080;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.jq-selectbox.opened .jq-selectbox__select-text {
  border-color: #333;
  color: #000;
}

.jq-selectbox.opened .jq-selectbox__select-text::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  border-color: #000;
}

.jq-selectbox.changed .jq-selectbox__select-text {
  color: #000;
}

.jq-selectbox .jq-selectbox__dropdown {
  position: absolute;
  top: 56px !important;
  left: 0 !important;
  z-index: 999;
  min-width: 100%;
  max-width: 100%;
}

.jq-selectbox .jq-selectbox__dropdown ul {
  max-height: 145px !important;
  padding: 10px 0;
  list-style: none;
  overflow-y: scroll;
  border-top: none;
  background: #F7F9FA;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.jq-selectbox .jq-selectbox__dropdown ul li {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.jq-selectbox .jq-selectbox__dropdown ul li:hover {
  background: #fff;
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar {
  width: 10px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background: #CCCCCC;
}

.breadcrumbs {
  margin: 50px 0 10px;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: -0.03em;
  font-size: 14px;
  line-height: 14px;
  color: #999;
}

.breadcrumbs li + li::before {
  content: "";
  padding: 0 10px 0 8px;
  font-size: 14px;
  line-height: 14px;
}

.breadcrumbs li a {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-decoration: underline;
}

.inner {
  padding: 0 0 80px;
}

.inner h1, .inner .h1 {
  margin-bottom: 50px;
  font-family: OpenSans;
  font-size: 52px;
  line-height: 62px;
  font-weight: normal;
  text-transform: none;
}

.project-filters__tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px;
}

.project-filters__nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 130px;
  overflow: hidden;
  margin-bottom: 80px;
}

.project-filters__nav.active {
  height: auto;
  overflow: visible;
}

.project-filters__nav.active::before {
  display: none;
}

.project-filters__nav.active .project-filters__nav--show {
  -webkit-transform: rotate(223deg);
      -ms-transform: rotate(223deg);
          transform: rotate(223deg);
}

.project-filters__nav::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(0.01%, rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 0.01%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 0.01%, #FFFFFF 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 0.01%, #FFFFFF 100%);
}

.project-filters__nav--show {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  width: 34px;
  height: 34px;
  margin: auto;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.project-filters__links {
  max-width: 260px;
  margin-right: 70px;
}

.project-filters__links .h5 {
  margin-bottom: 25px;
}

.project-filters__links ul {
  list-style: none;
}

.project-filters__links ul li {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
}

.project-filters__links ul li a {
  color: #000;
}

.project-tag {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 8px 16px;
  background: #F5F5F5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #01539B;
  font-weight: 600;
}

.project-tag:last-child {
  margin-right: 0;
}

.project-tag.active {
  font-weight: bold;
  color: #fff;
  background: #01539B;
}

.project-tag:hover {
  background: #0E71CC;
  color: #fff;
  opacity: 1;
}

.project-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 80px;
}

.project-item__left {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.project-item__right {
  position: relative;
  width: 50%;
}

.project-item__right > img {
  display: block;
}

.project-item__right--overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-item__right--text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 140px;
}

.project-item__right--item {
  margin-right: 50px;
  margin-bottom: 50px;
}

.project-item__right--item:last-child {
  margin-bottom: 0;
}

.project-item__right--item strong {
  display: block;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  color: #fff;
}

.project-item__right--item span {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}

.project-item__location {
  width: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #C92123;
}

.project-item__location span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.project-item__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
  padding-left: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), color-stop(99.99%, #F5F7FA), to(#EBF2F5));
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  background: linear-gradient(180deg, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  border: 1px solid #E5E5E5;
}

.project-item__text .h2 {
  margin-bottom: 20px;
}

.project-item__text p {
  margin-bottom: 50px;
}

.project-article {
  max-width: 860px;
  margin: 0  auto 120px;
}

.project-article .h2 {
  margin-bottom: 30px;
}

.project-article .h2.icon {
  position: relative;
  padding: 0 0 0 44px;
}

.project-article .h2.icon::before {
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 24px;
}

.project-article p {
  margin-bottom: 40px;
}

.purpose {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.purpose-img {
  width: 50%;
}

.purpose-text {
  width: 50%;
  padding-left: 40px;
}

.purpose-text__item {
  margin-bottom: 30px;
}

.purpose-text__item:last-child {
  margin-bottom: 0;
}

.purpose-text .h2 {
  margin-bottom: 0;
}

.purpose-text span {
  font-size: 18px;
}

.custom-ol {
  list-style: none;
  counter-reset: item;
}

.custom-ol li {
  position: relative;
  padding: 0 0 0 25px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 32px;
  counter-increment: item;
}

.custom-ol li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #C92123;
}

.full-img {
  margin-bottom: 120px;
}

.full-img img {
  display: block;
  margin: 0 auto;
}

.video-block {
  margin-bottom: 40px;
}

.video-block iframe {
  width: 100%;
  min-height: 400px;
}

.icon-bottom {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-right: 5px solid #01539B;
  border-bottom: 5px solid #01539B;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.pagination li {
  margin-right: 10px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li a, .pagination li span {
  display: block;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  background: #F5F5F5;
}

.pagination li a:hover, .pagination li a.active {
  background: #01539B;
  color: #fff;
  opacity: 1;
}

.pagination li a.pagination-arrow {
  font-size: 8px;
}

.service-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.service-header .h1, .service-header h1 {
  margin-bottom: 0;
}

.service-wrap {
  margin-left: -20px;
  margin-right: -20px;
}

.service-wrap [class^='col'] {
  padding-left: 20px;
  padding-right: 20px;
}

.service-item {
  display: block;
  height: 500px;
  padding: 40px;
  margin-bottom: 50px;
  border: 1px solid #E5E5E5;
  background-image: url(../img/service-img.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #F5F7FA;
}

.service-item .h4 {
  display: block;
  margin-bottom: 20px;
}

.service-item__info {
  font-size: 14px;
  line-height: 20px;
}

.service-item .h6 {
  display: block;
  margin-bottom: 8px;
}

.product-page {
  margin-top: 50px;
}

.product-page .breadcrumbs {
  margin-bottom: 20px;
}

.product-page__info .h2 {
  margin-bottom: 60px;
}

.product-page__btn .btn {
  margin-right: 20px;
}

.product-page__btn .btn:last-child {
  margin-right: 0;
}

.product-characteristics {
  margin-top: 100px;
  padding: 0 30px 60px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #13202C;
}

.product-characteristics__table {
  width: 100%;
  border-collapse: separate;
}

.product-characteristics__table tr td {
  padding: 20px 0;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-top: 1px solid #2B3641;
}

.product-characteristics__table tr td:last-child {
  text-align: right;
  color: #fff;
}

.product-slider {
  margin-bottom: 40px;
}

.product-slider__nav {
  margin-left: -8px;
  margin-right: -8px;
}

.product-slider__nav--item {
  display: inline-block;
  margin: 0 8px 28px;
  float: none;
}

.product-slider__nav--item.slick-current {
  position: relative;
}

.product-slider__nav--item.slick-current::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  width: 90%;
  bottom: -10px;
  background: #C92123;
}

.product-slider__nav.slick-initialized .slick-slide {
  display: inline-block;
}

.media-item {
  margin-bottom: 70px;
}

.media-item .h3 {
  font-weight: 600;
  text-align: center;
}

.media-item img {
  display: block;
  margin-bottom: 15px;
}

.media-item__video .fancybox {
  position: relative;
  display: block;
}

.media-item__video .fancybox::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background: url(../img/player-play.png);
}

.tag-list {
  margin-bottom: 35px;
  list-style: none;
}

.tag-list li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
}

.tag-list li a {
  display: block;
  padding: 6px 12px;
  background: #F5F5F5;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #01539B;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.tag-list li a:hover {
  background: #0E71CC;
  color: #fff;
  opacity: 1;
}

.tag-list li a.active {
  background: #01539B;
  color: #fff;
  opacity: 1;
}

.tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  list-style: none;
}

.tabs-nav li {
  margin-right: 34px;
}

.tabs-nav li:last-child {
  margin-right: 0;
}

.tabs-nav li a {
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.tabs-nav li a.active {
  position: relative;
}

.tabs-nav li a.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #C92123;
}

.tabs-mobile__btn {
  display: none;
}

.tabs-item {
  display: none;
}

.tabs-item.active {
  display: block;
}

.acticle {
  max-width: 860px;
  margin: 0 auto;
}

.acticle .breadcrumbs {
  text-align: center;
}

.acticle p {
  margin-bottom: 30px;
}

.acticle h2 {
  margin-bottom: 40px;
}

.support {
  max-width: 1160px;
}

.support p {
  margin-bottom: 40px;
}

.support .row {
  margin-left: -20px;
  margin-right: -20px;
}

.support .row [class^='col'] {
  padding-left: 20px;
  padding-right: 20px;
}

.support-item {
  position: relative;
  display: block;
  margin-bottom: 80px;
  padding: 40px;
  min-height: 200px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), color-stop(99.99%, #F5F7FA), to(#EBF2F5));
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  background: linear-gradient(180deg, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  border: 1px solid #E5E5E5;
}

.support-item .h4 {
  position: relative;
  display: block;
  max-width: 315px;
  margin-bottom: 10px;
  z-index: 1;
}

.support-item__text {
  position: relative;
  display: block;
  max-width: 315px;
  z-index: 1;
}

.support-item img {
  position: absolute;
  right: 0;
  bottom: 0;
}

select {
  display: none;
}

.jq-selectbox {
  position: relative;
  width: 100%;
}

.jq-selectbox .jq-selectbox__select-text {
  position: relative;
  padding: 14px 30px 14px 14px;
  width: 100%;
  border: 1px solid #ECECEC;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  color: #999;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.jq-selectbox .jq-selectbox__select-text:hover {
  border-color: #999;
}

.jq-selectbox .jq-selectbox__select-text::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 45%;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #808080;
  border-left: 2px solid #808080;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.jq-selectbox.opened .jq-selectbox__select-text {
  border-color: #01539B;
  color: #000;
}

.jq-selectbox.opened .jq-selectbox__select-text::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  border-color: #000;
}

.jq-selectbox.changed .jq-selectbox__select-text {
  color: #000;
}

.jq-selectbox .jq-selectbox__dropdown {
  position: absolute;
  top: 56px !important;
  left: 0 !important;
  z-index: 999;
  min-width: 100%;
  max-width: 100%;
}

.jq-selectbox .jq-selectbox__dropdown ul {
  max-height: 145px !important;
  padding: 10px 0;
  list-style: none;
  overflow-y: scroll;
  border-top: none;
  background: #fff;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.jq-selectbox .jq-selectbox__dropdown ul li {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.jq-selectbox .jq-selectbox__dropdown ul li:hover {
  background: #fff;
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar {
  width: 10px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background: #CCCCCC;
}

.questionnaires {
  margin-bottom: 40px;
}

.pdf .h3 {
  margin-bottom: 40px;
}

.pdf .row {
  margin-left: -20px;
  margin-right: -20px;
}

.pdf .row [class^='col'] {
  padding-left: 20px;
  padding-right: 20px;
}

.pdf-list {
  list-style: none;
}

.pdf-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.pdf-list li strong {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.pdf-list li a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #01539B;
}

.pdf-list li a::before {
  content: '\e907';
  position: absolute;
  right: 0;
  top: -8px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F5F5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-family: icomoon;
  font-size: 22px;
  color: #01539B;
}

.pdf-list li a span {
  display: inline-block;
  padding-right: 62px;
  text-decoration: underline;
}

article {
  max-width: 1000px;
}

article p {
  margin-bottom: 33px;
}

article h2 {
  margin-bottom: 30px;
}

.faq {
  margin-bottom: 30px;
}

.faq-item {
  margin-bottom: 30px;
}

.faq-item.active .faq-header::before {
  content: '\e90f';
}

.faq-header {
  position: relative;
  padding: 16px 45px 16px 16px;
  font-size: 18px;
  line-height: 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), color-stop(99.99%, #F5F7FA), to(#EBF2F5));
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  background: linear-gradient(180deg, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
}

.faq-header::before {
  content: '\e906';
  position: absolute;
  right: 16px;
  top: 17px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #01539B;
  font-family: icomoon;
  color: #fff;
  font-size: 10px;
}

.faq-body {
  display: none;
  padding: 16px 40px 16px 16px;
  border: 1px solid #E5E5E5;
  border-top: 0;
}

.faq-body.active {
  display: block;
}

.faq-body p {
  margin-bottom: 20px;
}

.contacts-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 160px;
}

.contacts-block:last-child {
  margin-bottom: 60px;
}

.contacts-block__item {
  margin-right: 116px;
}

.contacts-block__item:last-child {
  margin-right: 0;
}

.contacts-block__item .h2 {
  margin-bottom: 45px;
  color: #01539B;
}

.contacts-item {
  margin-right: 116px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-item__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.contacts-item .h3 {
  margin-bottom: 15px;
}

.contacts-item span {
  display: block;
}

.contacts-map {
  height: 720px;
}

.contacts-map iframe {
  height: 100%;
}

.page-404 {
  margin: 80px 0;
}

.page-404 > .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-404 .h2 {
  margin-bottom: 40px;
  font-size: 52px;
  line-height: 62px;
}

.page-404 p {
  margin-bottom: 10px;
}

.page-404__tel {
  display: inline-block;
  margin-bottom: 40px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.page-404__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-404__btn .btn {
  max-height: 58px;
  margin-right: 40px;
}

.page-404__btn .btn:last-child {
  margin-right: 0;
}

.form-search {
  position: relative;
  max-width: 860px;
  margin-bottom: 70px;
}

.form-search input {
  width: 100%;
  height: 66px;
  line-height: 66px;
  padding: 0 20px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: none;
}

.form-search__btn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.form-field {
  position: relative;
  width: 100%;
  padding: 0 20px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  z-index: 1;
  outline: none;
}

.form-label {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 14px;
  color: #999999;
  cursor: text;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  background-color: transparent;
}

.form-item {
  position: relative;
  margin-bottom: 20px;
}

.form-item.active .form-field {
  border-color: #01539B;
}

.form-item.active .form-label {
  top: -15px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 14px;
  -webkit-transform: translate(0, 8px);
      -ms-transform: translate(0, 8px);
          transform: translate(0, 8px);
  color: #01539B;
  z-index: 10;
  background: #fff;
}

.form-item.active.error .form-field {
  border-color: #C92123;
}

.form-item.active.error .form-label {
  color: #C92123;
}

.form-item textarea {
  height: 94px;
  resize: none;
}

.form .btn {
  margin-bottom: 15px;
  border: 0;
}

.form .jq-selectbox {
  margin-bottom: 20px;
}

.form .jq-selectbox .jq-selectbox__select-text {
  padding: 18px 30px 18px 14px;
}

.modal {
  display: none;
  padding: 50px;
  max-width: 510px;
  width: 100%;
}

.modal .h2 {
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
}

.modal .h3 {
  margin-bottom: 10px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.modal p {
  margin-bottom: 40px;
  text-align: center;
}

.modal .btn {
  width: 100%;
}

.modal-nav {
  display: none;
  padding: 40px 80px;
  max-width: 90%;
  width: 100%;
}

.modal-nav__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.modal-nav .fancybox-close-small {
  left: 0;
  right: auto;
  width: 60px;
  height: 60px;
  background: #F5F5F5;
  outline: none;
}

.modal-menu {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  list-style: none;
}

.modal-menu > li {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.modal-menu > li > ul {
  margin-bottom: 40px;
  list-style: none;
}

.modal-menu > li > ul li a {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}

.modal-menu > li > span {
  display: block;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.modal-menu > li > a {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}

.mobile-menu .header-tel {
  text-align: left;
}

.mobile-menu__not::before, .mobile-menu__not:after {
  display: none !important;
}

.mobile-menu__not a::after {
  display: none !important;
}

.mobile-menu .header-tel__link {
  border: none;
  padding-top: 0 !important;
}

.color-grey {
  color: #999999;
}

.search .h2 {
  margin-bottom: 10px;
  font-size: 34px;
  line-height: 40px;
}

.search-count {
  margin-bottom: 20px;
  font-weight: 600;
}

.search > .tag-list {
  margin-bottom: 10px;
}

.search-sort {
  max-width: 410px;
  margin-bottom: 40px;
}

.search-item {
  max-width: 860px;
  padding: 34px;
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.search-item .h3 {
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 28px;
}

.search-item p {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

.search-item__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-item__date {
  margin: 0 20px;
  color: #C92123;
  font-weight: 600;
  font-size: 14px;
}

.search-item__link {
  color: #1162DC;
  font-size: 14px;
}

.search-item .tag-list {
  margin-bottom: 0;
}

.search-item .tag-list li {
  margin-bottom: 0;
}

.search .pagination {
  margin-top: 80px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.scroll-wrapper {
  overflow: hidden !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

@media screen and (min-width: 1280px) {
  .product-slider__nav .slick-track, .product-slider__nav--item {
    width: auto !important;
  }
}

@media screen and (max-width: 1899px) {
  .header-wrap {
    padding: 20px 60px;
  }
  .header-btn {
    width: 46px;
  }
  .header-btn__menu {
    width: 46px;
  }
  .header-btn__item {
    width: 46px;
    height: 46px;
  }
  .header-tel__number {
    font-size: 18px;
    line-height: 20px;
  }
  .header-tel__link {
    font-size: 12px;
  }
  .main-menu > li {
    margin-right: 14px;
  }
  .main-menu > li > a {
    font-size: 12px;
    line-height: 14px;
  }
  a.logo {
    max-width: 180px;
  }
  a.logo img {
    display: block;
  }
  .switch-btn {
    width: 32px;
    height: 18px;
  }
  .switch-btn::after {
    height: 12px;
    width: 12px;
  }
  .language > span {
    font-size: 14px;
  }
  .switch-btn.switch-on::after {
    left: 16px;
  }
  .banner-overlay {
    top: 60px;
  }
  .section {
    padding: 110px 0 0;
  }
  .section.inner {
    padding: 0 0 80px;
  }
  .btn {
    padding: 20px 60px;
  }
  h1, .h1 {
    font-size: 60px;
    line-height: 80px;
  }
  h2, .h2 {
    font-size: 30px;
    line-height: 36px;
  }
  h3, .h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .h2-big {
    font-size: 38px;
    line-height: 42px;
  }
  .about-step .h3 {
    margin-bottom: 50px;
  }
  .about-step .h3 br {
    display: none;
  }
  .about-step__item--text {
    font-size: 16px;
    line-height: 18px;
  }
  .about-step__item {
    margin-bottom: 50px;
  }
  .footer {
    padding-top: 120px;
  }
  .footer-wrap > div, .footer-wrap li {
    margin-right: 70px;
  }
  .questions-img {
    width: 45%;
  }
  .questions-text {
    width: 55%;
  }
  .questions::before, .questions::after {
    top: -12px;
    width: 130px;
    height: 298px;
    -webkit-background-size: contain;
            background-size: contain;
  }
  .deliveries-map {
    height: 500px;
  }
  .inner h1, .inner .h1 {
    margin-bottom: 40px;
    font-size: 46px;
    line-height: 56px;
  }
  .project-item__text {
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    padding: 20px 30px 10px;
  }
  .project-item__text .h2 {
    font-size: 34px;
    line-height: 38px;
  }
  .project-item__text p {
    margin-bottom: 30px;
  }
  .project-item__location {
    width: 100px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
  h4, .h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .service-item .h4 br {
    display: none;
  }
  .service-wrap {
    margin-left: -15px;
    margin-right: -15px;
  }
  .service-wrap [class^='col'] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .service-item {
    height: 350px;
    padding: 30px;
  }
  .service-item .h4 {
    margin-bottom: 5px;
  }
  .service-header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .service-header h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .service-header .btn {
    white-space: nowrap;
  }
  .banner-project__nav {
    left: 30px;
    top: 200px;
    padding: 30px 20px;
  }
  .banner-project__nav li {
    margin-bottom: 15px;
  }
  .banner-project__nav li a {
    font-size: 12px;
    line-height: 16px;
  }
  .custom-ol li {
    font-size: 16px;
    line-height: 28px;
  }
  .page-404__btn .btn {
    margin-right: 30px;
    padding: 20px 45px;
  }
  .page-404 .h2 {
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 56px;
  }
}

@media screen and (max-width: 1365px) {
  .product-page__btn .btn {
    width: 100%;
    margin: 0 0 20px;
  }
  .tabs-nav li a {
    font-size: 14px;
  }
  .page-404 .h2 br {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .main-menu {
    display: none;
  }
  h1, .h1 {
    font-size: 45px;
    line-height: 55px;
  }
  .section {
    padding: 80px 0 0;
  }
  .about-step {
    position: static;
  }
  .h2-big {
    font-size: 34px;
    line-height: 38px;
  }
  .about-step {
    padding-top: 50px;
  }
  .about-step .h3 {
    margin-bottom: 40px;
  }
  .about-step__item {
    width: 33%;
  }
  .questions {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .questions::before, .questions::after {
    display: none;
  }
  .questions-text {
    width: 50%;
    padding: 30px;
  }
  .questions-img {
    width: 50%;
  }
  .news-slider__header {
    margin-bottom: 40px;
  }
  .deliveries .h2 {
    margin-bottom: 40px;
  }
  .footer-wrap > div, .footer-wrap li {
    margin-right: 30px;
  }
  .footer {
    padding-top: 80px;
  }
  .deliveries-map {
    height: 400px;
  }
  .project-item__right--item {
    margin-bottom: 30px;
  }
  .project-item {
    display: block;
  }
  .project-item__left {
    display: block;
    width: 100%;
  }
  .project-item__location {
    width: auto;
    padding: 20px 30px;
    text-align: center;
  }
  .project-item__location span {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .project-item__text {
    width: auto;
    padding: 30px;
  }
  .project-item__text .h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .project-item__right {
    width: auto;
  }
  .project-item__right--text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-item__right--item {
    margin-right: 0;
  }
  .product-page__btn {
    max-width: 360px;
  }
  .product-characteristics {
    margin-top: 50px;
  }
  .banner-project__nav {
    position: absolute;
    left: 30px;
    top: 100px;
  }
  .page-404 > .row {
    display: block;
  }
  .page-404__btn {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-404__btn .btn {
    width: 47%;
    margin-right: 30px;
    padding: 20px 0;
    text-align: center;
  }
  .page-404__img img {
    display: block;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 991px) {
  .header-btn > a.visible-xs.visible-sm {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .banner-overlay {
    padding: 30px;
  }
  h1, .h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .section {
    padding: 60px 0 0;
  }
  .questions {
    padding: 50px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questions-img, .questions-text {
    width: 100%;
  }
  .footer {
    padding-top: 50px;
  }
  .footer-wrap {
    display: block;
    text-align: center;
  }
  .footer-wrap > div, .footer-wrap li {
    margin-right: 0;
  }
  .footer-wrap li {
    padding: 0 5px;
  }
  .inner h1, .inner .h1 {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 46px;
  }
  .project-filters__links {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .service-header .h1, .service-header h1 {
    margin-bottom: 0;
  }
  .breadcrumbs {
    margin: 30px 0 10px;
  }
  .banner-project__nav {
    display: none;
  }
  .project-article {
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto 50px;
  }
  .banner-project, .full-img {
    margin-bottom: 50px;
  }
  .video-block iframe {
    height: 300px;
  }
  .page-404 {
    margin: 40px 0 0;
  }
  .search-item .tag-list li {
    margin-bottom: 10px;
  }
  .search-item__date {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .banner-overlay {
    position: static;
    padding: 20px 0 0;
  }
  .banner-overlay .h1 {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
  }
  .banner-overlay .btn {
    width: 100%;
  }
  .btn {
    padding: 12px 30px;
    font-size: 14px;
  }
  .header.banner .header-wrap {
    position: static;
  }
  .header-wrap {
    padding: 10px 15px;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  }
  .header-btn {
    position: static;
    width: 40px;
  }
  .header-btn__item {
    width: 40px;
    height: 40px;
  }
  a.logo {
    width: 40px;
    height: 32px;
    background: url(../img/logo-mobile.svg);
  }
  a.logo img {
    display: none;
  }
  .header-btn__search {
    display: none;
  }
  .section {
    padding: 50px 0 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .questions {
    padding-left: 15px;
    padding-right: 15px;
  }
  .questions-text {
    padding-bottom: 0;
  }
  .news-slider__header {
    display: block;
  }
  .news-slider__header .h2 {
    margin-bottom: 15px;
  }
  .news-slider__nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news-slider .news-item {
    margin: 0;
  }
  .news-slider {
    margin: 0;
    max-width: 100%;
  }
  .news-slider__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .partners-wrap {
    display: block;
  }
  .partners-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .partners-block:last-child {
    margin-bottom: 0;
  }
  .partners-block__header {
    margin-bottom: 30px;
  }
  .news-item__text {
    width: -webkit-calc(100% - 120px);
    width: calc(100% - 120px);
    padding: 20px 20px 10px;
  }
  .news-item__text .h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .news-item__text .h3 br {
    display: none;
  }
  .news-item__text p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }
  .news-item__date {
    width: 120px;
    height: 60px;
    font-size: 12px;
  }
  .deliveries-map {
    height: 300px;
  }
  .section.inner {
    padding: 0 0 40px;
  }
  .tabs-nav {
    display: none;
  }
  .tabs-item {
    display: block;
    margin-bottom: 10px;
  }
  .tabs-item.active-m .tabs-mobile__btn:after {
    border-top: 0;
    border-bottom: 6px solid #fff;
  }
  .tabs-item__body {
    display: none;
    margin-bottom: 20px;
    padding: 0 10px 0;
    background: #13202C;
  }
  .product-characteristics {
    padding: 0;
    background-color: transparent;
  }
  .tabs-mobile__btn {
    position: relative;
    display: block;
    padding: 12px 20px;
    color: #fff;
    background: #13202C;
    text-transform: uppercase;
  }
  .tabs-mobile__btn::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 16px;
    border: 5px solid transparent;
    border-top: 6px solid #fff;
  }
  .tabs-mobile__btn:hover, .tabs-mobile__btn:focus {
    opacity: 1;
    color: #fff;
  }
  .product-page__btn {
    padding-left: 0;
    padding-right: 0;
  }
  .project-article {
    padding-left: 15px;
    padding-right: 15px;
  }
  .purpose {
    display: block;
  }
  .purpose-img {
    width: auto;
  }
  .purpose-text {
    width: auto;
    padding: 30px 0 0;
  }
  .news-wrap .news-item {
    position: relative;
  }
  .news-wrap .news-item__overlay {
    position: static;
  }
  .news-wrap .news-item__tag {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .news-wrap .news-item__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .news-wrap .news-item__date {
    width: 100%;
    height: 30px;
  }
  .news-wrap .news-item__text {
    width: 100%;
  }
  .questionnaires-wrap .jqselect {
    margin-bottom: 10px;
  }
  .support p {
    margin-bottom: 20px;
  }
  .faq-header {
    font-size: 16px;
    line-height: 26px;
  }
  .contacts-block {
    display: block;
    margin-bottom: 30px;
  }
  .contacts-block__item {
    margin-bottom: 30px;
  }
  .contacts-item {
    margin-bottom: 20px;
  }
  .contacts-map {
    height: 300px;
  }
  .form-search {
    margin-bottom: 30px;
  }
  .search .h2 {
    font-size: 26px;
  }
  .modal {
    padding: 40px 30px 30px;
  }
  .modal .h2 {
    font-size: 26px;
    line-height: 46px;
  }
}

@media screen and (max-width: 479px) {
  .news-item img {
    min-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news-item__tag {
    padding: 15px;
  }
  .news-item__tag li {
    margin-bottom: 5px;
  }
  .news-item__tag li a {
    font-size: 12px;
  }
  .deliveries .h2 {
    margin-bottom: 30px;
  }
  h2, .h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .about-step__item {
    width: 46%;
    margin-bottom: 30px;
  }
  .about-step__item--text {
    font-size: 12px;
    line-height: 16px;
  }
  .about-step__item--number {
    margin-bottom: 10px;
  }
  .form-search input {
    height: 50px;
  }
  *::-webkit-input-placeholder {
    font-size: 14px;
  }
  *:-moz-placeholder {
    font-size: 14px;
  }
  *::-moz-placeholder {
    font-size: 14px;
  }
  *:-ms-input-placeholder {
    font-size: 14px;
  }
  .form-search__btn {
    top: 16px;
  }
  .questions-text .btn {
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .questions-text p {
    font-size: 16px;
    line-height: 22px;
  }
  .project-item__text {
    padding: 30px 15px;
  }
  .project-item__right--item {
    margin-bottom: 10px;
  }
  .project-item__right--item strong {
    font-size: 18px;
    line-height: 24px;
  }
  .project-item__right--item span {
    font-size: 14px;
    line-height: 20px;
  }
  .project-item {
    margin-bottom: 50px;
  }
  .pagination li {
    margin-right: 5px;
  }
  .pagination li a, .pagination li span {
    width: 25px;
    height: 25px;
  }
  .service-header {
    display: block;
  }
  .service-header h1 {
    margin-bottom: 20px;
  }
  .news-wrap .pagination {
    margin-top: 30px;
  }
  .inner h1, .inner .h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .support-item {
    margin-bottom: 30px;
    padding: 30px;
  }
  .support-item img {
    width: 40%;
  }
  .support-item__text {
    font-size: 14px;
  }
  .pdf-list li a span {
    padding-right: 40px;
    font-size: 12px;
  }
  .pdf-list li strong {
    font-size: 14px;
  }
  .pdf-list li {
    margin-bottom: 20px;
  }
  .pdf .h3 {
    margin-bottom: 20px;
  }
  .page-404 h1 {
    text-align: center;
  }
  .page-404 .h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .page-404__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-404__btn .btn {
    margin: 0 0 20px;
    width: auto;
  }
}
