@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Semibold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Semibold.woff') format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format("woff2"), url('Montserrat-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?2wyxej')
  src: url('../fonts/icomoon/icomoon.eot?2wyxej#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?2wyxej') format("truetype"), url('../fonts/icomoon/icomoon.woff?2wyxej') format("woff"), url('../fonts/icomoon/icomoon.svg?2wyxej#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-balance:before
  content: "\e900"
  color: #c92123

.icon-burger:before
  content: "\e901"

.icon-check:before
  content: "\e902"

.icon-check2:before
  content: "\e903"
  color: #c92123

.icon-closed:before
  content: "\e904"

.icon-cross:before
  content: "\e905"

.icon-down:before
  content: "\e906"

.icon-download:before
  content: "\e907"

.icon-folder:before
  content: "\e908"
  color: #c92123

.icon-left:before
  content: "\e909"

.icon-list:before
  content: "\e90a"
  color: #c92123

.icon-paperclip:before
  content: "\e90b"

.icon-right:before
  content: "\e90c"

.icon-search:before
  content: "\e90d"

.icon-strategy:before
  content: "\e90e"
  color: #c92123

.icon-up:before
  content: "\e90f"