@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------

.page
	height: 100% 
	width: 100%
	overflow: hidden

::-webkit-scrollbar-track
	background-color: #E6E6E6


::-webkit-scrollbar
	width: 8px
	


::-webkit-scrollbar-thumb
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
	background: $blue
	border-radius: 4px
	

.container
	width: auto
	max-width: 1920px
	padding-left: 60px
	padding-right: 60px

.header

	&-wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 30px 80px
	
	&.banner

		.header-wrap
			position: absolute
			left: 0
			right: 0
			top: 0
			z-index: 1

	&-btn
		position: fixed
		left: 0
		top: 0
		width: 60px
		z-index: 10

		&__menu
			display: block
			width: 60px
			display: flex
			flex-direction: column

		>a
			&:hover, &:focus
				opacity: 1

		&__item
			width: 60px
			height: 60px
			display: flex
			align-items: center
			justify-content: center

			

		&__nav
			background: $blue

			.icon
				font-size: 24px
				color: #fff

		&__search
			background: #F5F5F5

	&-tel
		text-align: right

		&__number
			display: block
			font-family: Montserrat
			font-weight: 600
			font-size: 32px
			line-height: 36px

		&__link
			color: $blue
			border-bottom: 1px solid
	
.banner
	position: relative

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 120px
		bottom: 0
		padding: 90px 60px 0
		text-align: center

	>img
		display: block
		margin: 0 auto

	.h1
		margin-bottom: 50px

	&-project
		margin-bottom: 100px

		&__nav
			position: fixed
			left: 80px
			top: 270px
			padding: 30px 20px
			list-style: none
			background: linear-gradient(180deg, rgba(250, 250, 250, 0.5) 0%, rgba(245, 247, 250, 0.5) 99.99%, rgba(235, 242, 245, 0.5) 100%)
			backdrop-filter: blur(16px)
			border-radius: 4px

			li
				margin-bottom: 30px
				text-align: left

				&:last-child
					margin-bottom: 0

				a
					display: block
					font-size: 16px
					line-height: 22px
					font-weight: 600




.main-menu
	display: flex
	list-style: none

	>li
		display: inline-block
		margin-right: 24px

		&:last-child
			margin-right: 0

		

		>a
			position: relative
			display: block
			font-size: 16px
			line-height: 16px
			border-bottom: 1px solid
			color: #333


			&:hover, &.active
				color: $blue
				opacity: 1


.switch-btn
	position: relative
	display: inline-block
	margin: 0 8px
	width: 38px
	height: 20px
	border-radius: 4px
	border: 1px solid $blue
	cursor: pointer
	transition-duration: 300ms

	&::after
		content: ""
		position: absolute
		height: 14px
		width: 14px
		border-radius: 2px
		background: $blue
		top: 2px
		left: 3px
		transition-duration: 300ms
		z-index: 1

	&.switch-on

		&::after
			left: 19px


.language
	display: flex
	align-items: center

	>span
		color: $blue

		&.active
			color: $red




































		

.mm-spn--open
	>div
		margin: 20px 15px 20px
		padding-left: 25px

		>a, span
			padding: 0




.slick-slide
	outline: none

.content
	min-height: calc(100vh - 434px)






.btn
	display: inline-block
	padding: 22px 72px
	font-style: normal
	font-weight: 600
	font-size: 18px
	line-height: 24px
	color: #fff
	background: $blue
	border-radius: 2px
	outline: none
	text-align: center


	&:hover, &:focus
		opacity: 1
		color: #fff
		background: #0E71CC

	&:active
		background: #0E71CC

	&-transparent
		padding: 20px 72px
		background-color: transparent
		border: 2px solid $blue
		color: $blue

	&-small
		font-size: 14px
		line-height: 16px



.section
	padding: 150px 0 0

	.h2
		margin-bottom: 28px

	p
		margin-bottom: 20px

	.h3
		font-family: Montserrat
		font-weight: 600

	
.about

	&-step
		position: relative
		top: -40px

		.h3
			margin-bottom: 60px

		&__wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between

		&__item
			width: 48%
			margin-bottom: 60px

			&--number
				width: 70px
				height: 70px
				margin-bottom: 20px
				display: flex
				align-items: center
				justify-content: center
				background: #F5F5F5
				border-radius: 2px
				font-family: Montserrat;
				font-style: normal
				font-weight: bold
				font-size: 30px
				line-height: 30px
				color: $blue

			&--text
				font-weight: 600
				font-size: 18px
				line-height: 20px


.questions
	position: relative
	max-width: 1920px
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	background: #F5F5F5

	&::before, &::after
		content: ''
		position: absolute
		top: -15px
		width: 181px
		height: 386px

	&::before
		left: 0
		background: url(../img/questions-blue-bg.png) no-repeat

	&::after
		right: 0
		background: url(../img/questions-red-bg.png) no-repeat

	&-img

	&-text
		display: flex
		align-items: center
		padding: 0 70px

		.btn
			margin-top: 32px


.news
	max-width: 1920px
	margin: 0 auto

	&-wrap
		max-width: 1460px

		.news-item
			margin-bottom: 40px

		.pagination
			margin-top: 50px
			justify-content: flex-start

	.h2
		margin-bottom: 0

	&-slider
		margin-left: 60px

		&__header
			display: flex
			justify-content: space-between
			margin-bottom: 60px

		&__nav
			display: flex
			align-items: center

			.all-link
				margin-right: 20px

		&__btn
			display: flex

			button
				width: 36px
				height: 36px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 2px
				background: #F5F5F5
				border: 0
				outline: none

				.icon
					font-size: 12px
					color: #000

				&:hover
					background: $blue
					.icon
						color: #fff

		&__next
			margin-left: 10px


		.news-item
			margin-right: 40px

	&-item
		position: relative
		display: inline-block

		img
			display: block

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			flex-direction: column
			justify-content: space-between

		&__tag
			padding: 20px
			list-style: none

			li
				display: inline-block
				margin-right: 12px


				a
					display: block
					padding: 6px 12px
					background: #fff
					font-weight: 600
					font-size: 14px
					line-height: 18px
					color: $blue
					border-radius: 2px

					&:hover, &.active
						background: $blue
						color: #fff
						opacity: 1


		&__bottom
			display: flex
			align-items: flex-end

		&__text
			width: calc(100% - 180px)
			padding: 30px 30px 10px
			background: #FFFFFF
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08)

			.h3
				margin-bottom: 20px
				font-family: OpenSans

			p
				font-size: 14px
				line-height: 22px

		&__date
			width: 180px
			height: 120px
			display: flex
			align-items: center
			justify-content: center
			font-size: 14px
			font-weight: 600
			color: #fff
			background: $red

		&__site
			display: inline-block
			margin-bottom: 10px
			color: $blue
			font-weight: 600
			font-size: 14px
			line-height: 16px


		
.all-link
	display: inline-block
	font-size: 14px
	line-height: 18px
	font-weight: 600
	border-bottom: 2px solid $blue




.partners

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&-block
		width: 46%

		&__header
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 70px

		.h2
			margin: 0

		&__wrap

			&.row
				margin-left: -10px
				margin-right: -10px

				[class^="col"]
					padding-left: 10px
					padding-right: 10px

			a
				display: block

			img
				display: block
				margin-bottom: 20px

.deliveries

	.h2
		margin-bottom: 70px

	&-map
		height: 550px


#googleMap
	width: 100%
	height: 100%



.footer
	padding-top: 166px
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 100%), url(../img/footer-bg.png)
	background-size: cover

	&-wrap
		display: flex
		align-items: center
		padding-bottom: 33px

		>div, li
			margin-right: 120px

	&-dev
		span
			display: block
			margin-bottom: 6px
			font-size: 14px
			line-height: 18px
			color: #999

	&-copy
		font-size: 14px
		line-height: 18px
		color: #000

	&-links
		li
			display: inline-block

			a
				color: #1162DC
				font-size: 14px
				line-height: 14px
				border-bottom: 1px solid
















	



.check-item
	list-style: none

	a
		color: #999

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 28px
			cursor: pointer
			font-size: 12px
			line-height: 16px
			font-weight: 600
			color: #999

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 18px
				height: 18px
				display: flex
				align-items: center
				justify-content: center
				background-color: #fff
				border-radius: 2px
				border: 1px solid $blue
				font-family: icomoon

		&:checked
			&+label
				&::before
					content: '\e902'
					font-size: 12px
					color: $blue



		
.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #000
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)





select
	display: none



.jq-selectbox
	position: relative
	width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 14px 30px 14px 14px
		width: 100%
		border: 1px solid #ECECEC
		border-radius: 6px
		font-size: 16px
		color: #999


		&::after
			content: ''
			position: absolute
			right: 15px
			top: 45%
			width: 8px
			height: 8px
			border-bottom: 2px solid #808080
			border-left: 2px solid #808080
			transform: rotate(-45deg)
			transition: all .3s


	&.opened
		.jq-selectbox__select-text
			border-color: #333
			color: #000
			&::after
				transform: rotate(135deg)
				border-color: #000

	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 56px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			padding: 10px 0
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #F7F9FA
			border: 1px solid #CCCCCC
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08)
			border-radius: 6px
			li
				padding: 10px 20px
				font-size: 14px
				line-height: 19px
				color: #000
				transition: all .3s

				&:hover
					background: #fff


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 10px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #CCCCCC


.breadcrumbs
	margin: 50px 0 10px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		line-height: 14px
		color: #999

		+ li::before
			content: ""
			padding: 0 10px 0 8px
			font-size: 14px
			line-height: 14px

		a
			position: relative
			font-size: 14px
			line-height: 14px
			color: #999
			text-decoration: underline


.inner
	padding: 0 0 80px

	h1, .h1
		margin-bottom: 50px
		font-family: OpenSans
		font-size: 52px
		line-height: 62px
		font-weight: normal
		text-transform: none

.project

	&-filters

		&__tag
			display: flex
			flex-wrap: wrap
			margin-bottom: 30px

		&__nav
			position: relative
			display: flex
			flex-wrap: wrap
			height: 130px
			overflow: hidden
			margin-bottom: 80px

			&.active
				height: auto
				overflow: visible

				&::before
					display: none

				.project-filters__nav--show
					transform: rotate(223deg)

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 0.01%, #FFFFFF 100%)

			&--show
				position: absolute
				left: 0
				right: 0
				bottom: 8px
				width: 34px
				height: 34px
				margin: auto
				border: none
				outline: none
				padding: 0
				background-color: transparent
				transform: rotate(45deg)

		&__links
			max-width: 260px
			margin-right: 70px

			.h5
				margin-bottom: 25px

			ul
				list-style: none

				li
					margin-bottom: 15px
					font-size: 14px
					line-height: 18px

					a
						color: #000

	&-tag
		display: inline-block
		margin-right: 15px
		margin-bottom: 15px
		padding: 8px 16px
		background: #F5F5F5
		border-radius: 2px
		color: $blue
		font-weight: 600

		&:last-child
			margin-right: 0

		&.active
			font-weight: bold
			color: #fff
			background: $blue

		&:hover
			background: #0E71CC
			color: #fff
			opacity: 1
	&-item
		display: flex
		flex-wrap: wrap
		margin-bottom: 80px

		&__left
			width: 50%
			display: flex
			flex-wrap: wrap

		&__right
			position: relative
			width: 50%

			>img
				display: block

			&--overlay
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: center

			&--text
				display: flex
				flex-wrap: wrap
				padding: 0 140px
				

			&--item
				margin-right: 50px
				margin-bottom: 50px

				&:last-child
					margin-bottom: 0
				strong
					display: block
					font-weight: normal
					font-size: 34px
					line-height: 40px
					color: #fff
				
				span
					font-size: 18px
					line-height: 32px
					color: #fff

		&__location
			width: 120px
			display: flex
			align-items: center
			justify-content: center
			background: $red

			span
				position: relative
				display: inline-block
				color: #fff
				font-family: Montserrat
				font-weight: 600
				font-size: 24px
				line-height: 28px
				text-align: center
				letter-spacing: 0.04em
				transform: rotate(270deg)

		&__text
			display: flex
			align-items: center
			width: calc(100% - 120px)
			padding-left: 40px
			background: linear-gradient(180deg, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%)
			border: 1px solid #E5E5E5

			.h2
				margin-bottom: 20px

			p
				margin-bottom: 50px

	&-article
		max-width: 860px
		margin: 0  auto 120px

		.h2
			margin-bottom: 30px

			&.icon
				position: relative
				padding: 0 0 0 44px

				&::before
					position: absolute
					left: 0
					top: 4px
					font-size: 24px

		p
			margin-bottom: 40px


.purpose
	display: flex
	align-items: center

	&-img
		width: 50%

	&-text
		width: 50%
		padding-left: 40px

		&__item
			margin-bottom: 30px

			&:last-child
				margin-bottom: 0

		.h2
			margin-bottom: 0

		span
			font-size: 18px

.custom

	&-ol
		list-style: none
		counter-reset: item


		li
			position: relative
			padding: 0 0 0 25px
			margin-bottom: 30px
			font-size: 18px
			line-height: 32px
			counter-increment: item

			&::before
				content: counter(item)
				position: absolute
				left: 0
				top: 3px
				font-family: Montserrat
				font-style: normal
				font-weight: 600
				font-size: 24px
				line-height: 28px
				color: $red


.full-img
	margin-bottom: 120px
	img
		display: block
		margin: 0 auto

.video-block
	margin-bottom: 40px

	iframe
		width: 100%
		min-height: 400px




.icon-bottom
	display: inline-block
	width: 36px
	height: 36px
	border-right: 5px solid $blue
	border-bottom: 5px solid $blue
	
.pagination
	display: flex
	justify-content: center
	list-style: none

	li
		margin-right: 10px

		&:last-child
			margin-right: 0
		a, span
			display: block
			width: 36px
			height: 36px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 2px
			font-size: 12px
			font-weight: 600
			background: #F5F5F5

		a
			&:hover, &.active
				background: $blue
				color: #fff
				opacity: 1


		


			&.pagination-arrow
				font-size: 8px

.service

	&-header
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px

		.h1, h1
			margin-bottom: 0

	&-wrap
		margin-left: -20px
		margin-right: -20px

		[class^='col']
			padding-left: 20px
			padding-right: 20px

	&-item
		display: block
		height: 500px
		padding: 40px
		margin-bottom: 50px
		border: 1px solid #E5E5E5
		background-image: url(../img/service-img.png)
		background-position: right bottom
		background-repeat: no-repeat
		background-color: #F5F7FA

		.h4
			display: block
			margin-bottom: 20px

		&__info
			font-size: 14px
			line-height: 20px

		.h6
			display: block
			margin-bottom: 8px

.product

	&-page
		margin-top: 50px

		.breadcrumbs
			margin-bottom: 20px

		&__info
			
			.h2
				margin-bottom: 60px

		&__btn
			.btn
				margin-right: 20px

				&:last-child
					margin-right: 0

	&-characteristics
		margin-top: 100px
		padding: 0 30px 60px
		border-radius: 4px
		background: #13202C

		&__table
			width: 100%
			border-collapse: separate

			tr
				td
					padding: 20px 0
					font-size: 12px
					line-height: 16px
					color: #999
					font-weight: 600
					border-bottom: 1px solid rgba(0, 0, 0, 0.6)
					border-top: 1px solid #2B3641

					&:last-child
						text-align: right
						color: #fff

	&-slider
		margin-bottom: 40px

		&__nav
			margin-left: -8px
			margin-right: -8px
	

			&--item
				display: inline-block
				margin: 0 8px 28px
				float: none


				&.slick-current 
					position: relative

					&::before
						content: ''
						position: absolute
						left: 0
						right: 0
						margin: 0 auto
						height: 2px
						width: 90%
						bottom: -10px
						background: $red

			&.slick-initialized .slick-slide
				display: inline-block




.media

	&-item
		margin-bottom: 70px

		.h3
			font-weight: 600
			text-align: center

		img
			display: block
			margin-bottom: 15px

		&__video
			

			.fancybox
				position: relative
				display: block

				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					top: 0
					bottom: 0
					margin: auto
					width: 60px
					height: 60px
					background: url(../img/player-play.png)




.tag-list
	margin-bottom: 35px
	list-style: none

	li
		display: inline-block
		margin-right: 12px
		margin-bottom: 12px


		a
			display: block
			padding: 6px 12px
			background: #F5F5F5
			font-weight: 600
			font-size: 14px
			line-height: 18px
			color: $blue
			border-radius: 2px

			&:hover
				background: #0E71CC
				color: #fff
				opacity: 1

			&.active
				background: #01539B
				color: #fff
				opacity: 1




	

.tabs

	&-nav
		display: flex
		justify-content: space-between
		width: 100%
		padding: 30px 0
		list-style: none


		li
			margin-right: 34px

			&:last-child
				margin-right: 0

			a
				padding-bottom: 6px
				font-size: 16px
				line-height: 20px
				color: #fff


				&.active
					position: relative

					&::before
						content: ''
						position: absolute
						left: 0
						bottom: 0
						width: 50px
						height: 2px
						background: $red
					



	&-mobile__btn
		display: none

	&-item
		display: none

		&.active
			display: block







.acticle
	max-width: 860px
	margin: 0 auto

	.breadcrumbs
		text-align: center

	p
		margin-bottom: 30px

	h2
		margin-bottom: 40px



.support
	max-width: 1160px


	p
		margin-bottom: 40px

	.row
		margin-left: -20px
		margin-right: -20px

		[class^='col']
			padding-left: 20px
			padding-right: 20px

	&-item
		position: relative
		display: block
		margin-bottom: 80px
		padding: 40px
		min-height: 200px
		border-radius: 2px
		background: linear-gradient(180deg, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%)
		border: 1px solid #E5E5E5

		.h4
			position: relative
			display: block
			max-width: 315px
			margin-bottom: 10px
			z-index: 1

		&__text
			position: relative
			display: block
			max-width: 315px
			z-index: 1

		img
			position: absolute
			right: 0
			bottom: 0



select
	display: none



.jq-selectbox
	position: relative
	width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 14px 30px 14px 14px
		width: 100%
		border: 1px solid #ECECEC
		border-radius: 2px
		font-size: 16px
		color: #999
		transition: all .3s

		&:hover
			border-color: #999


		&::after
			content: ''
			position: absolute
			right: 15px
			top: 45%
			width: 8px
			height: 8px
			border-bottom: 2px solid #808080
			border-left: 2px solid #808080
			transform: rotate(-45deg)
			transition: all .3s


	&.opened
		.jq-selectbox__select-text
			border-color: $blue
			color: #000
			&::after
				transform: rotate(135deg)
				border-color: #000

	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 56px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			padding: 10px 0
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #fff
			border: 1px solid #F2F2F2
			box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06)
			border-radius: 2px
			li
				padding: 10px 20px
				font-size: 14px
				line-height: 19px
				color: #000
				transition: all .3s
				cursor: pointer

				&:hover
					background: #fff


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 10px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #CCCCCC




.questionnaires
	margin-bottom: 40px

.pdf

	.h3
		margin-bottom: 40px

	.row
		margin-left: -20px
		margin-right: -20px

		[class^='col']
			padding-left: 20px
			padding-right: 20px

	&-list
		list-style: none

		li
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 40px

			strong
				font-weight: 600
				font-size: 18px
				line-height: 20px

			a
				position: relative
				display: inline-block
				font-size: 14px
				line-height: 14px
				color: $blue

				&::before
					content: '\e907'
					position: absolute
					right: 0
					top: -8px
					width: 32px
					height: 32px
					display: flex
					align-items: center
					justify-content: center
					background: #F5F5F5
					border-radius: 2px
					font-family: icomoon
					font-size: 22px
					color: $blue


				span
					display: inline-block
					padding-right: 62px
					text-decoration: underline



article
	max-width: 1000px

	p
		margin-bottom: 33px

	h2
		margin-bottom: 30px

.faq
	margin-bottom: 30px

	&-item
		margin-bottom: 30px

		&.active

			.faq-header
				&::before
					content: '\e90f'
		

	&-header
		position: relative
		padding: 16px 45px 16px 16px
		font-size: 18px
		line-height: 32px
		background: linear-gradient(180deg, #FAFAFA 0%, #F5F7FA 99.99%, #EBF2F5 100%)
		border: 1px solid #E5E5E5
		border-radius: 4px
		cursor: pointer

		&::before
			content: '\e906'
			position: absolute
			right: 16px
			top: 17px
			width: 30px
			height: 30px
			display: flex
			align-items: center
			justify-content: center
			background: $blue
			font-family: icomoon
			color: #fff
			font-size: 10px


	&-body
		display: none
		padding: 16px 40px 16px 16px
		border: 1px solid #E5E5E5
		border-top: 0

		&.active
			display: block

		p
			margin-bottom: 20px



.contacts

	&-block
		display: flex
		flex-wrap: wrap
		margin-bottom: 160px

		&:last-child
			margin-bottom: 60px

		&__item
			margin-right: 116px

			&:last-child
				margin-right: 0

			.h2
				margin-bottom: 45px
				color: $blue

			

	&-item
		margin-right: 116px

		&:last-child
			margin-right: 0


		&__wrap
			display: flex
			flex-wrap: wrap

		.h3
			margin-bottom: 15px

		span
			display: block


	&-map
		height: 720px

		iframe
			height: 100%



.page-404
	margin: 80px 0

	>.row
		display: flex
		align-items: center

	&__img


	&__text

	.h2
		margin-bottom: 40px
		font-size: 52px
		line-height: 62px

	p
		margin-bottom: 10px

	&__tel
		display: inline-block
		margin-bottom: 40px
		font-family: Montserrat
		font-weight: 600
		font-size: 24px
		line-height: 28px

	&__btn
		display: flex
		.btn
			max-height: 58px
			margin-right: 40px

			&:last-child
				margin-right: 0



.form

	&-search
		position: relative
		max-width: 860px
		margin-bottom: 70px

		input
			width: 100%
			height: 66px
			line-height: 66px
			padding: 0 20px
			background: #FFFFFF
			border: 1px solid #E5E5E5
			border-radius: 2px
			outline: none

		&__btn
			position: absolute
			right: 20px
			top: 20px
			padding: 0
			font-size: 20px
			border: none
			outline: none
			background-color: transparent
			cursor: pointer
			z-index: 1

	&-field
		position: relative
		width: 100%
		padding: 0 20px
		height: 60px
		background-color: transparent
		border: 1px solid #E5E5E5
		box-sizing: border-box
		border-radius: 2px
		font-size: 16px
		line-height: 20px
		z-index: 1
		outline: none

	&-label
		position: absolute
		left: 20px
		top: 20px
		font-size: 14px
		color: #999999
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent

	&-item
		position: relative
		margin-bottom: 20px

		&.active

			.form-field
				border-color: $blue
				
			.form-label
				top: -15px
				padding: 0 5px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: $blue
				z-index: 10
				background: #fff

			&.error

				.form-field
					border-color: $red

				.form-label
					color: $red

		textarea
			height: 94px
			resize: none

	.btn
		margin-bottom: 15px
		border: 0

	.jq-selectbox
		margin-bottom: 20px

	.jq-selectbox .jq-selectbox__select-text
		padding: 18px 30px 18px 14px


.modal
	display: none
	padding: 50px
	max-width: 510px
	width: 100%

	.h2
		margin-bottom: 30px
		font-size: 44px
		line-height: 48px
		text-align: center

	.h3
		margin-bottom: 10px
		text-align: center
		font-family: Montserrat
		font-style: normal
		font-weight: 600
		font-size: 24px
		line-height: 28px

	p
		margin-bottom: 40px
		text-align: center

	.btn
		width: 100%

	&-nav
		display: none
		padding: 40px 80px
		max-width: 90%
		width: 100%

		&__header
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 70px

		.fancybox-close-small
			left: 0
			right: auto
			width: 60px
			height: 60px
			background: #F5F5F5
			outline: none




.modal

	&-menu
		column-count: 4
		column-gap: 40px
		list-style: none

		>li
			break-inside: avoid

			>ul
				margin-bottom: 40px
				list-style: none

				li

					a
						display: block
						margin-bottom: 16px
						font-size: 14px
						line-height: 18px
						color: #333

			>span
				display: block
				margin-bottom: 24px
				font-weight: 600
				font-size: 18px
				line-height: 20px

			>a
				display: block
				margin-bottom: 16px
				font-size: 14px
				line-height: 18px
				color: #333




.mobile-menu

	.header-tel
		text-align: left

	&__not
		&::before, &:after
			display: none !important

		a::after
			display: none !important

	.header-tel__link
		border: none
		padding-top: 0 !important
























.color

	&-grey
		color: #999999

.search

	.h2
		margin-bottom: 10px
		font-size: 34px
		line-height: 40px

	&-count
		margin-bottom: 20px
		font-weight: 600

	>.tag-list
		margin-bottom: 10px

	&-sort
		max-width: 410px
		margin-bottom: 40px

	&-item
		max-width: 860px
		padding: 34px
		margin-bottom: 20px
		background: #FFFFFF
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06)
		border-radius: 4px

		.h3
			margin-bottom: 6px
			font-size: 24px
			line-height: 28px

		p
			margin-bottom: 24px
			font-size: 14px
			line-height: 22px
			color: #333		

		&__bottom
			display: flex
			flex-wrap: wrap
			align-items: center

		&__date
			margin: 0 20px
			color: $red
			font-weight: 600
			font-size: 14px

		&__link
			color: #1162DC
			font-size: 14px

		.tag-list
			margin-bottom: 0

			li
				margin-bottom: 0


	.pagination
		margin-top: 80px
		justify-content: flex-start





.scroll-wrapper
	overflow: hidden !important
	position: relative


	> .scroll-content
		border: none !important
		box-sizing: content-box !important
		height: auto
		left: 0
		margin: 0
		max-height: none
		max-width: none !important
		overflow: scroll !important
		padding: 0
		position: relative !important
		top: 0
		width: auto !important

		&::-webkit-scrollbar
			height: 0
			width: 0













@media screen and(min-width: 1280px)
	.product-slider__nav .slick-track, .product-slider__nav--item
		width: auto !important




































@media screen and(max-width: 1899px)

	.header-wrap
		padding: 20px 60px

	.header-btn
		width: 46px

	.header-btn__menu
		width: 46px
		
	.header-btn__item
		width: 46px
		height: 46px

	.header-tel__number
		font-size: 18px
		line-height: 20px

	.header-tel__link
		font-size: 12px

	.main-menu > 
		li
			margin-right: 14px

			> a
				font-size: 12px
				line-height: 14px

	a.logo
		max-width: 180px

		img
			display: block

	.switch-btn
		width: 32px
		height: 18px

		&::after
			height: 12px
			width: 12px

	.language > span
		font-size: 14px

	.switch-btn.switch-on::after
		left: 16px

	.banner-overlay
		top: 60px

	

	.section
		padding: 110px 0 0

		&.inner
			padding: 0 0 80px

	.btn
		padding: 20px 60px

	h1, .h1
		font-size: 60px
		line-height: 80px

	h2, .h2
		font-size: 30px
		line-height: 36px

	h3, .h3
		font-size: 20px
		line-height: 24px

	.h2-big
		font-size: 38px
		line-height: 42px

	.about-step .h3
		margin-bottom: 50px

		br
			display: none

	.about-step__item--text
		font-size: 16px
		line-height: 18px

	.about-step__item
		margin-bottom: 50px

	.footer
		padding-top: 120px

	.footer-wrap > div, .footer-wrap li
		margin-right: 70px

	.questions-img
		width: 45%
	
	.questions-text
		width: 55%

	.questions::before, .questions::after
		top: -12px
		width: 130px
		height: 298px
		background-size: contain

	.deliveries-map
		height: 500px

	.inner h1, .inner .h1
		margin-bottom: 40px
		font-size: 46px
		line-height: 56px

	.project-item__text
		width: calc(100% - 100px)
		padding: 20px 30px 10px
		.h2
			font-size: 34px
			line-height: 38px

		p
			margin-bottom: 30px

	.project-item__location
		width: 100px

	p
		font-size: 16px
		line-height: 28px


	h4, .h4
		font-size: 18px
		line-height: 22px

	.service-item

		.h4
			br
				display: none

	.service-wrap
		margin-left: -15px
		margin-right: -15px

		[class^='col']
			padding-left: 15px
			padding-right: 15px

	.service-item
		height: 350px
		padding: 30px

		.h4
			margin-bottom: 5px

	.service-header
		flex-wrap: wrap

		h1
			font-size: 40px
			margin-bottom: 0

		.btn
			white-space: nowrap


	.banner-project__nav
			left: 30px
			top: 200px
			padding: 30px 20px

			li
				margin-bottom: 15px

				a
					font-size: 12px
					line-height: 16px


	
	.custom-ol li
		font-size: 16px
		line-height: 28px


	.page-404__btn
		.btn
			margin-right: 30px
			padding: 20px 45px


	.page-404 .h2
		margin-bottom: 30px
		font-size: 42px
		line-height: 56px












@media screen and(max-width: 1365px)
	
	.product-page__btn
		.btn
			width: 100%
			margin: 0 0 20px

	.tabs-nav li a
		font-size: 14px


	.page-404 .h2
		br
			display: none


	















@media screen and(max-width: 1279px)
	.main-menu
		display: none

	h1, .h1
		font-size: 45px
		line-height: 55px

	.section
		padding: 80px 0 0

	.about-step
		position: static

	.h2-big
		font-size: 34px
		line-height: 38px

	.about-step
		padding-top: 50px

		.h3
			margin-bottom: 40px

		&__item
			width: 33%

	.questions
		align-items: center

		&::before, &::after
			display: none

		&-text
			width: 50%
			padding: 30px
		&-img
			width: 50%

	.news-slider__header
		margin-bottom: 40px

	.deliveries .h2
		margin-bottom: 40px

	.footer-wrap > div, .footer-wrap li
		margin-right: 30px

	.footer 
		padding-top: 80px

	.deliveries-map
		height: 400px


	.project-item__right--item
		margin-bottom: 30px


	.project-item
		display: block

		&__left
			display: block
			width: 100%

		&__location
			width: auto
			padding: 20px 30px
			text-align: center

			span
				transform: none

		&__text
			width: auto
			padding: 30px

			.h2
				font-size: 28px
				line-height: 34px

		&__right
			width: auto

			&--text
				flex-direction: column
				padding: 0
				justify-content: center

			&--item
				margin-right: 0


	.product-page__btn
		max-width: 360px

	.product-characteristics
		margin-top: 50px
	

	.banner-project__nav
		position: absolute
		left: 30px
		top: 100px



	.page-404 > .row
		display: block


	.page-404__btn
		justify-content: space-between

		.btn
			width: 47%
			margin-right: 30px
			padding: 20px 0
			text-align: center

	.page-404__img

		img
			display: block
			margin: 0 auto 20px
















@media screen and(max-width: 991px)
	.header-btn 
		> a.visible-xs.visible-sm
			display: flex !important

	.banner-overlay
		padding: 30px

	h1, .h1
		font-size: 36px
		line-height: 46px

	.section
		padding: 60px 0 0


	.questions
		padding: 50px 60px
		flex-direction: column

		&-img, &-text
			width: 100%

	.footer
		padding-top: 50px

		&-wrap
			display: block
			text-align: center

	.footer-wrap > div, .footer-wrap li
		margin-right: 0

	.footer-wrap li
		padding: 0 5px


	.inner h1, .inner .h1
		margin-bottom: 30px
		font-size: 36px
		line-height: 46px

	.project-filters__links
		margin-right: 30px
		margin-bottom: 30px


	.service-header

		.h1, h1
			margin-bottom: 0

	.breadcrumbs
		margin: 30px 0 10px

	.banner-project__nav
		display: none

	.project-article
		padding-left: 60px
		padding-right: 60px
		margin: 0 auto 50px

	.banner-project, .full-img
		margin-bottom: 50px

	.video-block iframe
		height: 300px

	.page-404
		margin: 40px 0 0

	.search-item .tag-list li
		margin-bottom: 10px

	.search-item__date
		margin-left: 0









@media screen and(max-width: 768px)
	
	.banner-overlay
		position: static
		padding: 20px 0 0
		.h1
			padding: 0 20px
			margin-bottom: 20px
			font-size: 24px
			line-height: 28px
			text-transform: none


		.btn
			width: 100%

	.btn
		padding: 12px 30px
		font-size: 14px

	.header.banner .header-wrap
		position: static

	.header-wrap
		padding: 10px 15px
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12)


	.header-btn
		position: static
		width: 40px

		&__item
			width: 40px
			height: 40px

	a.logo
		width: 40px
		height: 32px
		background: url(../img/logo-mobile.svg)
		img
			display: none

	.header-btn__search
		display: none

	.section
		padding: 50px 0 0

	.container
		padding-left: 15px
		padding-right: 15px

	.questions
		padding-left: 15px
		padding-right: 15px

		&-text
			padding-bottom: 0

	.news-slider__header
		display: block

		.h2
			margin-bottom: 15px

	.news-slider__nav
		justify-content: space-between

	.news-slider .news-item
		margin: 0

	.news-slider
		margin: 0
		max-width: 100%

		&__wrap
			padding-left: 15px
			padding-right: 15px

	.partners-wrap
		display: block

	.partners-block
		width: 100%
		margin-bottom: 30px

		&:last-child
			margin-bottom: 0

		&__header
			margin-bottom: 30px

	.news-item__text
		width: calc(100% - 120px)
		padding: 20px 20px 10px


		.h3
			margin-bottom: 10px
			font-size: 16px

			br
				display: none

		p
			margin: 0
			font-size: 12px
			line-height: 18px

	.news-item__date
		width: 120px
		height: 60px
		font-size: 12px

	.deliveries-map
		height: 300px

	.section.inner
		padding: 0 0 40px


	.tabs-nav
		display: none

	.tabs-item
		display: block
		margin-bottom: 10px

		&.active-m
			.tabs-mobile__btn:after
				border-top: 0
				border-bottom: 6px solid #fff

	.tabs-item__body
		display: none
		margin-bottom: 20px
		padding: 0 10px 0
		background: #13202C

	.product-characteristics
		padding: 0
		background-color: transparent

	.tabs-mobile__btn
		position: relative
		display: block
		padding: 12px 20px
		color: #fff
		background: #13202C
		text-transform: uppercase


		&::after
			content: ''
			position: absolute
			right: 15px
			top: 16px
			border: 5px solid transparent
			border-top: 6px solid #fff

		&:hover, &:focus
			opacity: 1
			color: #fff

	.product-page__btn
		padding-left: 0
		padding-right: 0


	.project-article
		padding-left: 15px
		padding-right: 15px

	.purpose
		display: block

		&-img
			width: auto

		&-text
			width: auto
			padding: 30px 0 0

	.news-wrap

		.news-item
			position: relative

			&__overlay
				position: static
			&__tag
				position: absolute
				left: 0
				right: 0
				top: 0

			&__bottom
				flex-direction: column-reverse

			&__date
				width: 100%
				height: 30px

			&__text
				width: 100%
	
	.questionnaires-wrap 

		.jqselect
			margin-bottom: 10px

	.support p
		margin-bottom: 20px

	.faq-header
		font-size: 16px
		line-height: 26px

	.contacts-block
		display: block
		margin-bottom: 30px

		&__item
			margin-bottom: 30px

	.contacts-item
		margin-bottom: 20px

	.contacts-map
		height: 300px

	.form-search
		margin-bottom: 30px

	.search .h2
		font-size: 26px

	.modal
		padding: 40px 30px 30px

		.h2
			font-size: 26px
			line-height: 46px








@media screen and(max-width: 479px)

	.news-item
		img
			min-height: 300px
			object-fit: cover

	.news-item__tag
		padding: 15px
		li
			margin-bottom: 5px
			a
				font-size: 12px

	.deliveries .h2
		margin-bottom: 30px

	h2, .h2
		font-size: 26px
		line-height: 36px

	.about-step__item
		width: 46%
		margin-bottom: 30px

		&--text
			font-size: 12px
			line-height: 16px

		&--number
			margin-bottom: 10px



	.form-search input
		height: 50px

	*::-webkit-input-placeholder 
		font-size: 14px

	*:-moz-placeholder 
		font-size: 14px

	*::-moz-placeholder 
		font-size: 14px

	*:-ms-input-placeholder 
		font-size: 14px

	.form-search__btn
		top: 16px

	.questions-text
		.btn
			margin-top: 15px
			padding-left: 25px
			padding-right: 25px

		p
			font-size: 16px
			line-height: 22px


	.project-item__text
		padding: 30px 15px

	.project-item__right--item
		margin-bottom: 10px

		strong
			font-size: 18px
			line-height: 24px

		span
			font-size: 14px
			line-height: 20px

	.project-item
		margin-bottom: 50px

	.pagination li
		margin-right: 5px

	.pagination li a, .pagination li span
		width: 25px
		height: 25px

	.service-header
		display: block

		h1
			margin-bottom: 20px

	.news-wrap .pagination
		margin-top: 30px



	.inner h1, .inner .h1
		font-size: 32px
		line-height: 42px


	.support-item
		margin-bottom: 30px
		padding: 30px

		img
			width: 40%

	.support-item__text
		font-size: 14px


	.pdf-list li a span
		padding-right: 40px
		font-size: 12px

	.pdf-list li strong
		font-size: 14px

	.pdf-list li
		margin-bottom: 20px

	.pdf .h3
		margin-bottom: 20px

	.page-404

		h1
			text-align: center
		.h2
			font-size: 32px
			line-height: 40px
			text-align: center

		&__btn
			flex-direction: column

			.btn
				margin: 0 0 20px
				width: auto